body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  font-size: 3rem;
  margin: auto;
  max-width: 800px;
  margin-top: 20px;
  background-color: deepskyblue;
  border-radius: 0.25rem;
  padding: 30px;
}

.host-text {
  color: deeppink;
}